.display-none {
    display: none;
}
.mb-16 {
    margin-bottom: 16px;
}
.mb-24 {
    margin-bottom: 24px;
}
.input-field {
    width: 100%;
    height: 47px;
    // color: #9F9A91;
    border-radius: 10px;
    border: none;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    padding-left: 16px;
    font-size: 16px;
}